*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

  
  html, body {
    height: 100%;
    overflow: hidden;
  }
  #rect text {
    pointer-events: none;
  }
  
  body {
    background-color: black;
    color: #999;
    font-family: "Signika Negative", Arial, sans-serif;
    font-weight: 300;
    font-size: 17px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  svg {
    overflow: visible;
    height: 100%;
  }
  
  path {
    stroke-width: 2;
    stroke: gray;
  }

.depart-path {
    box-sizing: border-box;
    height: 50%;
    width: 75px;
    background-color: red;
    border-radius: 100%;
}